



<div class="cbi-section-create cbi-tblsection-create">
	<input class="cbi-button" style="left: 32%; position: relative; width:120px;" id="test_mail_btn" name="cbi-<%=self.sectiontype%>" onclick="change_value();location.href='<%=luci.dispatcher.build_url("admin/services/rs/rs232_test_mail")%>'" value="Test email settings" title="Try to send email with current settings, save your configuration before testing"/>
</div>

<script>
var mail_enabled_checkbox = document.getElementById("cbid.rs.rs232.email_enabled");
var btn = document.getElementById("test_mail_btn");

if(mail_enabled_checkbox && btn){
	if (mail_enabled_checkbox.checked){
		btn.setAttribute("style", "display:block; left: 32%; position: relative; width:120px");
	}else{
		btn.setAttribute("style", "display:none");
	}
	mail_enabled_checkbox.onclick = function() { 
		if (mail_enabled_checkbox.checked){
			btn.setAttribute("style", "display:block; left: 32%; position: relative; width:120px");
		}else{
			btn.setAttribute("style", "display:none");
		}
	};
}

	
function change_value(){
	console.log("changing value");
	var btn = document.getElementById("test_mail_btn");
	if(btn){
		btn.value="Please wait, sending";
		btn.disabled="true"
	}
}

</script>
