<%+header%>
<%
local uci = require "luci.model.uci".cursor()
luci.util = require "luci.util"
%>
<br>
<div id="cli_iframe">
</div>
<br>
<div id="descr" style="width:100%;">
	<a href="#" onclick="OpenInNewTab(document.getElementById('iframe_cli').src);">Click here to open CLI in new tab</a>
	<p id="https_hint"></p>
</div>
<script>
	var cli_url = "";
	var url = window.location.href;
	if (url.indexOf("proxy") > -1 || url.indexOf("monitoring") > -1) {
		var counter = 0;
		for (i = 0; i < url.length ; i++) {
			if (url[i] == "%") {
				counter++;
				if (counter == 4) {
					break;
				}
			}
			cli_url += url[i];
		}
		cli_url += '/cgi-bin/cli';
	} else {
		cli_url = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + '/cgi-bin/cli';
	}
	document.getElementById("cli_iframe").innerHTML = '<iframe id="iframe_cli" style="width:100%;height:400px" src="' + cli_url + '" onclick="makeFrame()"></iframe>';
	if(location.protocol == "https:" && navigator.userAgent.indexOf("Chrome") == -1){
		document.getElementById("https_hint").innerHTML = "To access CLI you need to add certificate acception to your browser!";
	}
</script>
<%+footer%>
