config openvpn 'teltonika_auth_service'
	option persist_key '1'
	option persist_tun '1'
	option port '5002'
	option proto 'udp'
	option verb '4'
	option nobind '1'
	option enable '0'
	option dev 'tun'
	option remote 'rms.teltonika.lt'
	option resolv_retry 'infinite'
	option keepalive '10 120'
	option auth_user_pass /etc/openvpn/auth
	option ca /etc/openvpn/tlt_ca.crt
	option ns_cert_type 'server'
	option comp_lzo 'yes'
	option client '1'
	option dev 'tun_rms'
	option script_security '2'
	option up '"/etc/init.d/rms_uhttpd start"'
	option down '"/etc/init.d/rms_uhttpd rms_stop"'

config webui 'webui'
	option _auth 'tls'
