<%+cbi/valueheader%>
	<% if self:cfgvalue(section) ~= false then %>
		<input class="cbi-button cbi-input-<%=self.inputstyle or "button" %>" <% if self.onclick then %> <% if self.timeload then %> onclick="lock(this.id);" <% else %> onclick="<%=self.onclick%>" <% end %> <% end %>  type="submit"<%= attr("name", cbid) .. attr("id", cbid) .. attr("value", self.inputtitle or self.title)%> />
	<% else %>
		-
	<% end %>

<script type="text/javascript" src="<%=resource%>/cbi.js"></script>
<script type="text/javascript">//<![CDATA[
function lock(id){
	if(id && id == "cbid.system.system._download"){
		var element = document.getElementById(id);

		if(element){
			var onclick_old = element.getAttribute("onclick");

			element.setAttribute("onclick","return false;");
			setTimeout(function(){ element.setAttribute("onclick",onclick_old);}, 15000);
		}
	}
}

//]]></script>
<%+cbi/valuefooter%>
