<%+header%>
<%
local ds = require "luci.dispatcher"
if tonumber(valid) ~= 0 or tonumber(sn) ~= 0 then%>
	<h2><a id="content" name="content"><%=translate("Restore point - ")%><font color="red"><%=translate("verification failed")%></font></a></h2>
<%else %>
	<h2><a id="content" name="content"><%=translate("Restore point - ")%><font color="green"><%=translate("verification succeeded")%></font></a></h2>
<%end%>

<p>
	<%if tonumber(valid) ~= 0 then%>
		<%=translate("<b>MD5 verification failed. This means that flash image is either damaged or not compatible with this router.</b> <br />Please ensure that you have a correct flash image and try to upgrade again.")  %>
	<%else %>
		<%=translate(" The flash image was uploaded and MD5 verification was successful.") %>
	<%end%>
</p>

<p>
	<%if tonumber(sn) ~= 0 then%>
		<%=translate("<b>Image verification failed. This means that flash image was created not from this router.</b> <br />Please ensure that you have a correct restore point image and try to upgrade again.")  %>
	<%end%>	

	<%if tonumber(valid) == 0 and tonumber(sn) == 0 then%>
		<%=translate("<b>This is the last chance to abort flashing if required.</b> <br />Click \"Proceed\" below to start the flash procedure.") %>
	<%end%>
</p>


<fieldset class="cbi-section" style="margin-top:25%;">
	<ul>
		<li><%=translate("Checksum")%>: <code>
		<%if checksum == "0\n" then%>
			<%="n/a"%>
		<%else %>
			<%=checksum%>
		<%end%>
		
		</code></li>
	</ul>
</fieldset>

<div class="cbi-page-actions right">
	<form style="display:inline" action="<%=ds.build_url('admin/system/restorepoint/load')%>" method="post">
		<input class="cbi-button cbi-button-reset" style="float: left;" type="submit" value="<%=translate('Cancel')%>" />
	</form>
	<form style="display:inline" method="post" action="<%=ds.build_url('admin/system/restorepoint/apply')%>">
		<input type="hidden" name="filelink" value="<%=filelink%>" />
		<input type="hidden" name="checksum" value="<%=checksum%>" />
		<input type="hidden" name="valid" value="<%=valid%>" />
		<input type="hidden" name="step" value="2" />
		<%if tonumber(valid) == 0 and tonumber(sn) == 0 then%>
			<input class="cbi-button cbi-button-apply" type="submit" value="<%=translate('Proceed')%>" name="submit-restore" />
		<%end%>
	</form>
</div>

<%+footer%>
