<div class="cbi-section-create">
	<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
	<label class="cbi-value-title-2" style="padding-left:10px;"<%= attr("for", cbid) %>><span onmouseover="ShowHint(this, 'LAN name')" onmouseout="HideHint(this)"><%=translate("LAN name:")%></span></label>
	<input type="text" class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.name" maxlength="6" />
	<input class="cbi-button cbi-button-add" type="submit" value="<%=translate('Add New')%>" title="<%=translate('Add New')%>" />
	<% if self.invalid_cts then %><br /><%=translate("Invalid")%></div><% end %>
</div>
