<%+cbi/valueheader%>
	<% if self:cfgvalue(section) ~= false then %>
		<input class="cbi-button cbi-input-<%=self.inputstyle or "button" %>" <% if self.onclick then %> <% if self.timeload then %> onclick="output()" <% else %> onclick="<%=self.onclick%>" <% end %> <% end %>  type="submit"<%= attr("name", cbid) .. attr("id", cbid .. "1") .. attr("value", self.inputtitle or self.title)%> />
	<% else %>
		-
	<% end %>
<%+cbi/valuefooter%>
<div class="disclaimer_msg">
		<span>* <%=translate("Important: data limit database is not reset when the functionality is disabled and then re-enabled. Automatically the database is reset at a given Period (month, week, day). If you wish to reset it manually you can hit the \"Clear\" button.")%></span>
</div>
