<div class="cbi-section-create cbi-tblsection-create">
	<legend><%=translate("AVL Configuration")%></legend>
	<br />
	<table class="cbi-section-table" style="width:100%;">

		<tr class="cbi-section-table-descr">
			<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=translate('Select wan interface for gps rule')%>')" onmouseout="HideHint(this)"><%=translate("Wan")%></th>
			<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=translate('Select digital input state for gps rule')%>')" onmouseout="HideHint(this)"><%=translate("Digital Isolated Input")%></th>
			<th class="cbi-section-table-cell" onmouseover="ShowHint(this, '<%=translate('Select priority for gps rule')%>')" onmouseout="HideHint(this)"><%=translate("Priority")%></th>
			<th class="cbi-section-table-cell"></th>
		</tr>
		<tr class="cbi-section-table-row">
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-gps-select" id="_newgps.wan_status" name="_newgps.wan_status" style="float:left;" onchange="check_type()">
					<option value="mobile_home"><%=translate("Mobile home")%></option>
					<option value="mobile_roaming"><%=translate("Mobile roaming")%></option>
					<option value="mobile_both"><%=translate("Mobile")%></option>
					<option value="wired"><%=translate("Wired")%></option>
					<option value="wifi"><%=translate("WiFi")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-gps-select" id="_newgps.din_status" name="_newgps.din_status" style="float:left;">
					<option value="low" ><%=translate("Low")%></option>
					<option value="high"><%=translate("High")%></option>
					<option value="both"><%=translate("Both")%></option>
				</select>
			</td>
			<td class="cbi-section-table-cell" style="width:110px">
				<select class="cbi-gps-select" id="_newgps.priority" name="_newgps.priority" style="float:left;">
					<option value="low" ><%=translate("Low")%></option>
					<option value="high"><%=translate("High")%></option>
					<option value="panic"><%=translate("Panic")%></option>
					<option value="security"><%=translate("Security")%></option>
				</select>
			</td>

			<td class="cbi-section-table-cell">
				<input type="submit" class="cbi-button cbi-button-add" name="cbi.cts.<%=self.config%>.<%=self.sectiontype%>.<%=section%>" value="<%:Add%>" />
			</td>
		</tr>
	</table>
</div>


<script>
	function check_type(){
		if(document.getElementById("_newgps.wan").value === "mobile"){
			document.getElementById("type_div").style.display="";
			document.getElementById("type_header").style.display="";
		}else{
			document.getElementById("type_div").style.display="none";
			document.getElementById("type_header").style.display="none";
		}
	}
</script>
