<div class="cbi-section-create">
	<% if self.invalid_cts then -%><div class="cbi-section-error"><% end %>
	<label class="cbi-value-title-2" style="padding-left:10px;"<%= attr("for", cbid) %>><span onmouseover="ShowHint(this, 'Name of the new OSPF network configuration. Used for easier configurations management purpose only')" onmouseout="HideHint(this)"><%=translate("New IP:")%></span></label>
	<input type="text" class="cbi-section-create-name" name="cbid.<%=self.config%>.<%=self.sectiontype%>.network_name" maxlength="18" />
	<input class="cbi-button cbi-button-add" type="submit" name="cbid.<%=self.config%>.<%=self.sectiontype%>.add_network" value="<%:Add New%>" title="<%=translate('Add New')%>" />
	<% if self.invalid_cts then %><br /><%=translate("Invalid")%></div><% end %>
</div>
