<script type="text/javascript">
	function redirect(address) {
		window.location.href = address;
	}
	function start_redirect() {
		var protocol = location.protocol;
		var host = location.hostname;
		var ipaddr = document.getElementById('cbid.network.lan.ipaddr');
		ipaddr ? ipaddr = ipaddr.value : console.log("IP address field is missing");
		XHR.get('<%=luci.dispatcher.build_url('admin', 'system', 'wizard', 'apply_lan')%>', { current_host: host, ipaddr: ipaddr, protocol: protocol }, function(x, info) {
			if (info) {
								list.insertBefore(div, list.childNodes[0]);
				setTimeout(redirect, 10000, info.link);
			}
		});
	}
	var div = document.createElement('div');
	div.style = 'display: inline-block; float: right';
	div.innerHTML = "<span>Please wait...</span><img alt='Loading' src='/luci-static/resources/icons/loading.gif'>";
	var list = document.getElementById("cbi-network");
	setTimeout(function() {
	var button = document.getElementsByName("cbi.wizard.next")[0];
		if (button) { button.disabled = true; }
	}, 200);
	start_redirect();
</script>
