<%
local uci = require("uci").cursor()
local vals = self:cfgvalue(section) or {}
local labels = self:cfglabels() or {}

local val, class, id

function week_days()
    return {
            {1, "Monday", "mon"},
            {2, "Tuesday", "tue"},
            {3, "Wednesday", "wed"},
            {4, "Thursday", "thu"},
            {5, "Friday", "fri"},
            {6, "Saturday", "sat"},
            {0, "Sunday", "sun"}
        }
end
%>
<%+cbi/valueheader%>

<style>
    table.hotspot_scheduler_table td {
        border: 1px solid #ddd;
        border-spacing: 0px;
        padding:0px;
        margin:0px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        border-collapse: separate;
    }
    #matrix{
        border: 1px solid #ddd;
        border-spacing: 0px;
        padding:0px;
        margin:0px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        border-collapse: separate;
    }

    #td_time1 {
        font-size:10px;
        width: 3.75%;
    }

    table.hotspot_scheduler_table td.schedule_all {
        background-color: #328DD7;
    }

    .color-block {
        height: 20px;
        width: 20px;
        border-radius: 5px;
        margin: 2px auto;
        margin-top: 3px;
    }
    .color-white { border: 1px solid black; }
    .color1 { background-color: #328DD7; border: 1px solid #328DD7; }
    .color2 { background-color: #C43C35; border: 1px solid #C43C35; }
    .color3 { background-color: #57a957; border: 1px solid #57a957; }
    .color4 { background-color: #EEdC94; border: 1px solid #EEdC94; }
    .color5 { background-color: #E5E5E5; border: 1px solid #E5E5E5; }

</style>

<script type="text/javascript" src="<%=media%>/hotspot_scheduler.js"></script>
<table class="hotspot_scheduler_table" id="matrix">

    <%
    local class
    %>
    <tr>
        <td width="10%" ><b>Days/Hours</b></td>
        <%for i=0, 23 do%>
        <td id="td_time1" onClick="select_column(this, '<%=cbid%>',<%=i%>)"><%=i.."-"..(i+1)%>h</td>
        <%end%>
    </tr>

    <% for n, w_day in pairs(week_days()) do
            val = vals[n] and vals[n] or "000000000000000000000000"
    %>

    <tr id="tr_<%=w_day[1]%>" class="">
        <td onClick="select_all_cells_custom(this, '<%=cbid%>', '<%=n%>');"><%=translate(w_day[2])%>
            <input class="cbi-input-text" value="<%=pcdata(val)%>" data-update="change" type="hidden"
            <%=attr("id", cbid .. "." .. n) .. attr("name", cbid)%> />
        </td>
        <% for i=1, 24 do
            if val then
                id = string.sub(val, i, i)
                if id ~= "0" then
                    class = "color" .. id
                else
                    class = "schedule_clear"
                end
            else
                class = "schedule_clear"
            end
        %>
        <td class="<%=class%>" onClick="change_custom(this, '<%=cbid%>', '<%=i-1%>', '<%=n%>')"></td>
        <% end %>
    </tr>
    <% end %>
</table>

<script type="text/javascript">
    var frm = document.getElementsByTagName("form");
    var atributte = frm[0].getAttribute("onsubmit");
    frm[0].setAttribute("onsubmit", "MakeVar(); " + atributte);
</script>
<fieldset class="cbi-section">
    <table id="3gTable" width="100%" cellspacing="10">
        <tbody>
        <tr>
            <td width="5%">
                <div class="color-block color-white"></div>
            </td>
            <td style="vertical-align: middle;">
                Default
            </td>
        </tr>
        <% if #labels > 0 then %>
            <tr>
                <td width="5%">
                    <div class="color<%=labels[1] and labels[1].id and labels[1].id or ''%> color-block"></div>
                </td>
                <td>
                    <select onchange="select_profile(this)" id="cbi.<%=section%>.select_label">
                        <% for n, lbl in ipairs(labels) do %>
                        <option value="<%=lbl.id%>"><%=lbl.name%></option>
                        <%end%>
                    </select>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</fieldset>

<script>
    String.prototype.replaceAt=function(index, replacement) {
        return this.substr(0, index) + replacement+ this.substr(index + replacement.length);
    }

    function select_profile(sel) {
        var parent = sel.parentElement;
        var e = parent.previousElementSibling;

        if (e){
            var circle = e.firstElementChild;
            circle.className = "color" + sel.value + " color-block";
        }
    }
    function select_all_cells_custom(self, id, day)
    {
        var hidden_element = document.getElementById(id + "." + day);
        var parent = self.parentElement;
        var childs = parent.children;
        var id = document.getElementById("cbi.<%=section%>.select_label").value;

        if (id) {
            var class_name = (childs[1].className !== "schedule_clear") ? "schedule_clear"
                : "color" + id;

            for (var i = 1; i < childs.length; i++)
                childs[i].className = class_name;

            if (hidden_element) {
                var all = "";

                for (i = 1; i <= 24; i++)
                    all += id;

                hidden_element.value = (class_name !== "schedule_clear") ? all
                    : "000000000000000000000000";
            }
        }
    }
    function change_custom(self, id, hr, day)
    {
        var hidden_element = document.getElementById(id + "." + day);
        var value = (self.className === "schedule_clear");
        var id = document.getElementById("cbi.<%=section%>.select_label").value;

        self.className = value ? "color" + id : "schedule_clear"

        if (hidden_element) {
            var curr_value = hidden_element.value;
            value = value ? id : "0";
            hidden_element.value = "" +  curr_value.replaceAt(Number(hr), value);
        }
    }

    function replaceAt(string, index, replace) {
        return string.substring(0, index) + replace + string.substring(index + 1);
    }

    function select_column(self, cbid, hour) {
        var pparent = self.parentNode.parentNode;
        var id = document.getElementById("cbi.<%=section%>.select_label").value;

        if (pparent && id) {
            var childs = pparent.children;
            var class_name;
            var i, child, cchild;
            for (i = 1; i <= 7; i++) {
                var hidden_element = document.getElementById(cbid + "." + i);
                child = childs[i];
                if (child){
                    cchild = child.children[hour+1];
                    if (! class_name) {
                        class_name = (cchild.className !== "schedule_clear") ? "schedule_clear"
                            : "color" + id;
                    }

                    cchild.className = class_name;
                }

                if (hidden_element){
                    hidden_element.value = replaceAt(hidden_element.value, hour,
                        (class_name !== "schedule_clear") ? id : "0")
                }
            }
        }

    }

</script>

<%+cbi/valuefooter%>
