<%+header%> 
<%
	function read_file()
		local file = "/tmp/response.log"
		local f = io.open(file, "r")
		if f then
			local res = f:read("*all")
			f:close()
			os.remove(file)
			return res
		end
	end

	local resp = read_file()
	if resp == "OK\n" then
		%>
			<div class="alert-message success">Message sent</div>
		<%
	elseif resp == "OK\n2/2\n" then
		%>
			<div class="alert-message success">Messages sent 2/2</div>
		<%
	elseif resp == "OK\n3/3\n" then
		%>
			<div class="alert-message success">Messages sent 3/3</div>
		<%
	elseif resp == "OK\n4/4\n" then
		%>
			<div class="alert-message success">Messages sent 4/4</div>
		<%
	elseif resp == "LIMIT\n" then
		%>
			<div class="alert-message warning">SMS limit was reached, or would be passed by sending multipart message. Cannot send message</div>
		<%
	elseif resp then
		resp = resp:gsub("^%l", string.upper)
	%>
		<div class="alert-message error"><%=resp%></div>
	<%
	end
	%>
<script type="text/javascript">//<![CDATA[ 
	var sub = false
	function check_number(){
		e = document.getElementById("cbi.number");
		msg = document.getElementById("cbid.sms_utils.1.message");
		if (e && msg){
			if ((e.value.length < 1) || (msg.value.length < 1)){
				alert("Some fields are empty. Cannot send message!");
				return false
			}
			return true
		}
	}
function check_connection()
	{
	document.getElementById("spinner").style.display = "inline-block";
	document.getElementById("send-sms-button").disabled = true;
		XHR.get('<%=luci.dispatcher.build_url("admin", "services", "sms", "check_con")%>', null,
			function(x,con)
			{
				var e = document.getElementById("sms_form")
				if (check_number()){
					if (con){
						if (con == "" || con.search("gsmget") != -1 ){
							alert("Disconnected");
						}else{
							//alert("Connected ");
							if (e){
								e.submit();
							}
						}
					}else{
						alert("Disconnected");
					}
				}
				document.getElementById("send-sms-button").disabled = false;
			}
		);
	}
//]]></script>
<form method="post" name="cbi" id="sms_form" action="<%=luci.dispatcher.build_url('admin/services/sms/sms-init')%>"" enctype="multipart/form-data" onreset="return cbi_validate_reset(this)" onsubmit="return cbi_validate_form(this, 'Some fields are invalid. Cannot save values!')">
	<script type="text/javascript" src="/luci-static/resources/cbi.js"></script>
	<div class="cbi-map" id="cbi-sms_utils">
		<h2><a id="content" name="content"><%=translate("Send SMS")%></a> <div id="spinner" style="display:none;float:right;font-size:13px;color:#404040;font-weight:normal;"> <img src="/luci-static/resources/icons/loading.gif" style="width: 30px; height: 30px" alt="Loading"> Sending SMS ..</div>
</h2>
		<br>
		<fieldset class="cbi-section">
				<legend><%=translate("Send SMS Message")%></legend>
			<div class="cbi-section-node" id="cbi-sms_utils-0xc55978">
				<div>
					<div class="cbi-value" id="cbi-sms_utils-1-number">
						<label class="cbi-value-title" for="cbid.sms_utils.1.number"><span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('The phone number of recipient. Allowable characters: (0-9#*+)')%>')"</span><%=translate("Phone Number")%></label>
						<div class="cbi-value-field">
							<input type="text" style="width: 162px;" class="cbi-input-text" onchange="cbi_d_update(this.id)" name="cbi.number" id="cbi.number" value=""  cbi_datatype="phonenumber" cbi_optional="true">
							<script type="text/javascript">//<![CDATA[
								cbi_validate_field('cbi.number', true, 'phonenumber');
							//]]></script>
							<br>
							<!--<div class="cbi-value-description">
							<span class="cbi-value-helpicon"><img src="/luci-static/resources/cbi/help.gif" alt="help"></span>
							e.g. +37012345678
							</div> -->
						</div>
					</div>
					<div class="cbi-value cbi-value-last" id="cbi-sms_utils-1-message">
						<label class="cbi-value-title" for="cbid.sms_utils.1.message">
							<span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Message to be sent. Allowable characters: (a-zA-Z0-9!@#$%&*+-/=?^_`{|}~.)')%>')"</span><%=translate("Message")%>
						</label>
						<div class="cbi-value-field">
							<textarea class="cbi-input-textarea" style="width: 385px; height: 90px;" onchange="cbi_d_update(this.id)" onKeyDown="setTimeout(function() { cbi_d_counter(id) }, 1 )" name="cbi.message" id="cbid.sms_utils.1.message" rows="4" maxlength="480"></textarea>
						</div>
						<div id="counter" style="margin-left: 315px;" class="cbi-input-textarea-count" >
						</div>
					</div>
				</div>
			</div>
			<br>
		</fieldset>
		<br>
	</div>
	<div>
		<input id="send-sms-button" name="send-sms-button" class="cbi-button cbi-button-save" onclick="check_connection();" value="Send" type="button">
	</div>
</form>

<%+footer%>
