<%+cbi/valueheader%>
<%
local uci = require "luci.model.uci".cursor()
local cbeid = luci.cbi.FEXIST_PREFIX .. self.config .. "." .. section .. "." .. self.option
local days={"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}
local path = "/etc/scheduler/config"
local is_4pin = uci:get("hwinfo", "hwinfo", "4pin_io") or "0"
local is_io = uci:get("hwinfo", "hwinfo", "in_out") or "0"
%>
<style>
table.scheduler_table td {
	border: 1px solid #ddd;
	border-spacing: 0px;
	padding:0px;
	margin:0px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border-collapse: separate;
}
#matrix{
	border: 1px solid #ddd;
	border-spacing: 0px;
	padding:0px;
	margin:0px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border-collapse: separate;
}

#td_time1 {
	font-size:10px;
	width: 3.75%;
}
</style>

	<script type="text/javascript" src="<%=media%>/scheduler.js"></script>
	<table class="scheduler_table" id="matrix">
	

	 <tr> 
		<td width="10%" ><b>Days/Hours</b></td>
		<%for i=0, 23 do%>
		<td id="td_time1" onClick="Select_column(<%=i%>)"><%=i.."-"..(i+1)%>h</td>
		<%end%>
	</tr>


	<% 
	local file = io.open(path, "r")
	local class
	for key, value in pairs(days) do 
		line = file:read()
		if line then
			line = string.match(line, "%d+")
		end
		 %>
		 
		<tr id="tr_<%= value %>">
		<td onClick="Select_All_Cells('tr_<%= value %>')"><%= value %></td>
		<% for i=1, 24 do
			if line then
				if string.sub(line, i, i) == "1"then
					class = "schedule_dout1"
				elseif string.sub(line, i, i) == "2"then
					class = "schedule_dout2"
				elseif string.sub(line, i, i) == "3"then
					class = "schedule_dout3"
				elseif string.sub(line, i, i) == "4"then
					class = "schedule_dout1_2"
				elseif string.sub(line, i, i) == "5"then
					class = "schedule_dout1_3"
				elseif string.sub(line, i, i) == "6"then
					class = "schedule_dout2_3"
				elseif string.sub(line, i, i) == "7"then
					class = "schedule_all"
				else
					class = "schedule_clear"
				end
			else
				class = "schedule_clear"
			end%>
			<td class="<%=class%>" onClick="change_color(this)"></td>
		<% end %>
		</tr>
	<% end 
	file:close()
	%>
	</table>
	<input type="hidden" size="200" id="schedule_matrix" name="<%=cbid%>" value=""></td>
	<script type="text/javascript">
		var frm = document.getElementsByTagName("form");
		var atributte = frm[0].getAttribute("onsubmit");
		frm[0].setAttribute("onsubmit", "MakeVar(); " + atributte);
	</script>
	<fieldset class="cbi-section">
	<table id="3gTable" width="100%" cellspacing="10">
		<% if is_io == "1" then %>
			<tr><td width="5%"><div style="width: 20px; height: 20px; background-color: #FFA500;"></div></td><td><%=translate("Open collector output (galvanically isolated) active")%></td></tr>
			<tr><td width="5%"><div style="width: 20px; height: 20px; background-color: #800080;"></div></td><td><%=translate("Relay output active (relay contacts closed)")%></td></tr>
		<% end %>
		<% if is_4pin == "1" then %>
			<tr><td width="5%"><div style="width: 20px; height: 20px; background-color: rgb(94, 255, 0);"></div></td><td><%=translate("Digital 4 PIN connector output active")%></td></tr>
			<% if is_io == "1" then %>
				<tr><td width="5%"><div style="width: 20px; height: 20px; background-color: rgb(0, 60, 255);"></div></td><td><%=translate("Open collector (galvanically isolated ) and relay output active")%></td></tr>
				<tr><td width="5%"><div style="width: 20px; height: 20px; background-color: rgb(204, 0, 255);"></div></td><td><%=translate("Open collector (galvanically isolated ) and digital 4 PIN connector output active")%></td></tr>
				<tr><td width="5%"><div style="width: 20px; height: 20px; background-color: rgb(255, 94, 0);"></div></td><td><%=translate("Relay and digital 4 PIN connector output active")%></td></tr>
			<% end %>
		<% end %>
		<% if is_io == "1" then %>
			<tr><td width="5%"><div style="width: 20px; height: 20px; background-color: #328DD7;"></div></td><td><%=translate("All active")%></td></tr>
		<% end %>
	</table>
	</fieldset>
<%+cbi/valuefooter%>
