<%+cbi/valueheader%>
<%
	local uci = require "luci.model.uci".cursor()
	local selected = uci:get(self.config, section, self.option)
	local list_options = {
		{value = "skey", name = "Static key", selected = false},
		{value = "tls", name = "TLS", selected = false},
		{value = "tls/pass", name = "TLS/Password", selected = false},
		{value = "pass", name = "Password", selected = false},
	}

%>
<script type="text/javascript">
    function toggle_tls_clients() {
        var e = document.getElementById("cbi-openvpn-client");
        var dev = document.getElementById("cbid.openvpn.<%=section%>.dev");
        var auth = document.getElementById("cbid.openvpn.<%=section%>._auth");
        var custom = document.getElementById("cbid.openvpn.<%=section%>.enable_custom");

        if (e) {
            if (dev && auth && custom && dev.value == "tun"
                && (auth.value == "tls" || auth.value == "tls/pass") && custom.checked == false) {
                e.style.display = "inline";
            } else {
                e.style.display = "none";
            }
        }

        // Because the page can be loaded without certain elements shown,
        // we need to add events to them every time toggle is triggered.
        if (dev) {
            dev.addEventListener('change', toggle_tls_clients);
        }
        if (auth) {
            auth.addEventListener('change', toggle_tls_clients);
        }
        if (custom) {
            custom.addEventListener('change', toggle_tls_clients);
        }
    }

    document.addEventListener('DOMContentLoaded', toggle_tls_clients);

    var c = document.getElementById("cbid.openvpn.<%=section%>.enable_custom");
    if (c) {
        c.addEventListener('change', toggle_tls_clients);
    }

    var a = document.getElementById("cbid.openvpn.<%=section%>._auth");
    if (a) {
        a.addEventListener('change', toggle_tls_clients);
    }

    var u = document.getElementById("cbid.openvpn.<%=section%>.upload_files");
    if (u) {
        u.addEventListener('change', toggle_tls_clients);
    }

</script>
<select class="cbi-input-select" onchange="cbi_d_update(this.id)" name="<%=cbid%>" id="<%=cbid%>">
	<% for i, val in ipairs(list_options) do
		if selected == val.value then
			val.selected = true
		end%>
		<option id="<%=cbid%>-<%=val.value%>" value="<%=val.value%>" <%= ifattr(val.selected, "selected", "selected")%> ><%=val.name%></option>
	<% end	%>
</select>

<%+cbi/valuefooter%>
