config defaults
	option syn_flood '1'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'REJECT'

config zone
	option name 'lan'
	option network 'lan'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'ACCEPT'

config zone
	option name 'wan'
	option network 'wan ppp wan2'
	option input 'REJECT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option masq '1'
	option mtu_fix '1'

config zone vpn_zone
	option name 'vpn'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option masq '1'
	option network 'vpn'
	option device 'tun_+'

config zone l2tp_zone
	option name 'l2tp'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option masq '1'
	option network 'l2tp'
	option device 'l2tp+ xl2tp+'

config zone pptp_zone
	option name 'pptp'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option masq '1'
	option network 'pptp'
	option device 'pptp+'

config zone gre_zone
	option name 'gre'
	option input 'ACCEPT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option masq '1'
	option device 'gre+'

config zone hotspot
	option name 'hotspot'
	option input 'REJECT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option device 'tun0 tun1 tun2 tun3'

config zone sstp
	option name 'sstp'
	option input 'REJECT'
	option output 'ACCEPT'
	option forward 'REJECT'
	option device 'sstp-+'
	option masq '1'

config rule
	option name 'Allow-DHCP-Relay'
	option src 'wan'
	option proto 'udp'
	option dest_port '67'
	option target 'ACCEPT'
	option enabled '0'

config rule
	option name 'Allow-DHCP-Renew'
	option src 'wan'
	option proto 'udp'
	option dest_port '68'
	option target 'ACCEPT'
	option family 'ipv4'

config rule
	option name 'Allow-Ping'
	option src 'wan'
	option proto 'icmp'
	option icmp_type 'echo-request'
	option family 'ipv4'
	option target 'ACCEPT'

config rule
	option name 'Allow-vpn-traffic'
	option target 'ACCEPT'
	option src 'wan'
	option family 'ipv4'
	option dest_port '1194'
	option proto 'tcp udp'

config forwarding
	option src 'vpn'
	option dest 'lan'

config forwarding
	option src 'l2tp'
	option dest 'lan'

config forwarding
	option src 'pptp'
	option dest 'lan'

config forwarding
	option src 'gre'
	option dest 'lan'

config forwarding
	option dest 'wan'
	option src 'hotspot'

config include 'custom'
	option path '/etc/firewall.user'
	option enabled '1'
	option reload '1'

config include
	option path '/tmp/privoxy/firewall'
	option enabled '1'
	option reload '1'

config include
	option enabled '1'
	option reload '1'
	option path '/etc/logtrigger/fwblock_wrapper.sh'

config include
	option path '/etc/add-firewall-rule.sh'

config include
	option path '/etc/add-rs-rule.sh'
	option reload '1'

config include
	option path '/etc/add-port-rule.sh'
	option reload '1'

config include 'pbridge'
	option enabled '0'
	option reload '1'
	option path '/tmp/tmp_file/pbridge_firewall.sh'

config include 'ipsec'
	option reload '1'
	option path '/tmp/ipsec/firewall.sh'
	option enabled '1'

config redirect 'DMZ'
	option src 'wan'
	option name 'DMZ'
	option proto 'all'
	option enabled '0'

config rule 'Hotspot_input'
	option enabled '0'
	option target 'ACCEPT'
	option name 'Hotspot_input'
	option src 'hotspot'
	option dest_port '53 67-68 444 81 1812 1813 3991 3990'

config rule
	option dest_port '22'
	option proto 'tcp udp'
	option name 'Enable_SSH_WAN'
	option target 'ACCEPT'
	option src 'wan'
	option enabled '0'

config rule
	option dest_port '4200-4220'
	option proto 'tcp udp'
	option name 'Enable_CLI_WAN'
	option target 'ACCEPT'
	option src 'wan'
	option enabled '0'

config rule
	option dest_port '80'
	option proto 'tcp udp'
	option name 'Enable_HTTP_WAN'
	option target 'ACCEPT'
	option src 'wan'
	option enabled '0'

config rule
	option dest_port '443'
	option proto 'tcp udp'
	option name 'Enable_HTTPS_WAN'
	option target 'ACCEPT'
	option src 'wan'
	option enabled '0'

config rule
	option name 'Block_DNS_forwarding'
	option src '*'
	option dest 'wan'
	option proto 'udp'
	option dest_port '53'
	option target 'REJECT'
	option enabled '0'

config rule
	option dest_port '1812 1813'
	option proto 'tcp udp'
	option name 'Enable_Radius_WAN'
	option target 'ACCEPT'
	option src 'wan'
	option enabled '0'

# Allow DHCPv6 replies
config rule
	option name             'Allow-DHCPv6'
	option src              'wan'
	option proto            'udp'
	option src_ip           'fe80::/10'
	option src_port         '547'
	option dest_ip          'fe80::/10'
	option dest_port        '546'
	option family           'ipv6'
	option target           'ACCEPT'

# Allow essential incoming IPv6 ICMP traffic
config rule
	option name             'Allow-ICMPv6-Input'
	option src              'wan'
	option proto    	'icmp'
	list icmp_type          'echo-request'
	list icmp_type          'echo-reply'
	list icmp_type          'destination-unreachable'
	list icmp_type          'packet-too-big'
	list icmp_type          'time-exceeded'
	list icmp_type          'bad-header'
	list icmp_type          'unknown-header-type'
	list icmp_type          'router-solicitation'
	list icmp_type          'neighbour-solicitation'
	list icmp_type          'router-advertisement'
	list icmp_type          'neighbour-advertisement'
	option limit            '1000/sec'
	option family           'ipv6'
	option target           'ACCEPT'

# Allow essential forwarded IPv6 ICMP traffic
config rule
	option name             'Allow-ICMPv6-Forward'
	option src              'wan'
	option dest             '*'
	option proto            'icmp'
	list icmp_type          'echo-request'
	list icmp_type          'echo-reply'
	list icmp_type          'destination-unreachable'
	list icmp_type          'packet-too-big'
	list icmp_type          'time-exceeded'
	list icmp_type          'bad-header'
	list icmp_type          'unknown-header-type'
	option limit            '1000/sec'
	option family           'ipv6'
	option target           'ACCEPT'

config rule
	option name 'Allow-l2tpd-on-1701'
	option _name 'l2tpd'
	option target 'ACCEPT'
	option proto 'udp'
	option dest_port '1701'
	option family 'ipv4'
	option src 'wan'
	option enabled '0'

config rule
	option name 'Allow-pptpd-on-1723'
	option _name 'pptpd'
	option target 'ACCEPT'
	option proto 'tcp'
	option dest_port '1723'
	option family 'ipv4'
	option src 'wan'
	option enabled '0'

config rule
	option name 'Allow-pptpd-gre-output-connections'
	option _name 'pptpd'
	option dest 'wan'
	option target 'ACCEPT'
	option enabled '0'
	option proto 'gre'
	option family 'ipv4'

config rule
	option name 'Allow-pptpd-gre-input-connections'
	option _name 'pptpd'
	option src 'wan'
	option target 'ACCEPT'
	option enabled '0'
	option proto 'gre'
	option family 'ipv4'

config rule TR069
	option target 'ACCEPT'
	option src 'wan'
	option proto 'tcp'
	option dest_port '7547'
	option name 'Allow_TR069_server_request'
	option enabled '0'

config rule 'IPsecESP'
	option enabled '0'
	option src 'wan'
	option name 'Allow-IPsec-ESP'
	option target 'ACCEPT'
	option proto 'esp'

config rule 'IPsecNAT'
	option dest_port '4500'
	option src 'wan'
	option name 'Allow-IPsec-NAT-T'
	option target 'ACCEPT'
	option enabled '0'
	option proto 'udp'

config rule 'IPsecIKE'
	option dest_port '500'
	option src 'wan'
	option name 'Allow-IPsec-IKE'
	option target 'ACCEPT'
	option enabled '0'
	option proto 'udp'

config redirect E_SSH_W_P
	option enabled 0
	option target 'DNAT'
	option src 'wan'
	option dest 'lan'
	option proto 'tcp'
	option name 'Enable_SSH_WAN_PASSTHROUGH'
	option dest_ip '127.0.0.1'
	option reflection '0'
	option src_dport '22'

config redirect E_HTTP_W_P
	option enabled 0
	option target 'DNAT'
	option src 'wan'
	option dest 'lan'
	option proto 'tcp'
	option name 'Enable_HTTP_WAN_PASSTHROUGH'
	option dest_ip '127.0.0.1'
	option reflection '0'
	option src_dport '80'

config redirect E_HTTPS_W_P
	option enabled 0
	option target 'DNAT'
	option src 'wan'
	option dest 'lan'
	option proto 'tcp'
	option name 'Enable_HTTPS_WAN_PASSTHROUGH'
	option dest_ip '127.0.0.1'
	option reflection '0'
	option src_dport '443'

config redirect E_CLI_W_P
	option enabled 0
	option target 'DNAT'
	option src 'wan'
	option dest 'lan'
	option proto 'tcp'
	option name 'Enable_CLI_WAN_PASSTHROUGH'
	option dest_ip '127.0.0.1'
	option reflection '0'
	option src_dport '4200-4220'

config rule 'A_PASSTH_T'
	option target 'ACCEPT'
	option src 'wan'
	option dest 'lan'
	option name 'Allow-passthrough-traffic'
	option proto 'all'
	option enabled '0'

config redirect 'M_PASSTH'
	option enabled '0'
	option target 'SNAT'
	option dest 'wan'
	option proto 'all'
	option src_dip ''
	option name 'Enable_Mobile_Passthrough'


config rule 'A_OSPFIGP'
	option enabled '0'
	option target 'ACCEPT'
	option src 'wan'
	option name 'Allow-OSPFIGP-WAN-traffic'
	option proto '89'

config redirect 'REDIR_DNS'
	option enabled '0'
	option target 'DNAT'
	option src 'lan'
	option dest 'lan'
	option proto 'tcp udp'
	option name 'Redirect_DNS'
	option dest_ip '192.168.1.1'
	option src_dport '53'
	option dest_port '53'

config rule 'ALLOW_GRE'
	option enabled '0'
	option name 'Allow-GRE-Input'
	option src 'wan'
	option proto '47'
	option target 'ACCEPT'
