config rpcd
	option socket /var/run/ubus/ubus.sock
	option timeout 200

config login
	option username 'admin'
	option password '$p$admin'
	option group 'root'
	list read 'superuser'
	list write 'superuser'

config superuser
    option username 'admin'
    option password '$p$root'
    list read '*'
    list write '*'

config group 'root'
	option target_write 'allow'
	option target_read 'allow'
	list write '*'
	list read '*'

config group 'admin'
	option target_write 'allow'
	option target_read 'deny'
	list write '*'
	list read 'system/multiusers/users_configuration'
	list read 'system/backup'
	list read 'system/flashops'
	list read 'system/cli'
	list read 'system/wizard'
	list read 'system/uscripts'

config group 'user'
	option target_write 'allow'
	option target_read 'deny'
	list write 'system/multiusers/change_password'
	list read 'system/multiusers/users_configuration'
	list read 'system/flashops'
	list read 'system/backup'
	list read 'system/admin/access_control'
	list read 'system/cli'
	list read 'system/uscripts'
	list read 'services/packages'
	list read 'network'
	list read 'system/wizard'
	%%USER_SCRIPTS_HOTSPOT%%
	%%MOBILE_UTILS_SMS_SEND%%
