<%-
local cfg_name = section or "alert"
msg_text = luci.sys.exec("uci -q get " .. self.config .. "." .. section .. ".msg")
if #msg_text >= 1 then
	msg_text = msg_text:sub(1, #msg_text - 1)
end
-%>

<%+cbi/valueheader%>
	<div class="cbi-value cbi-value-last" id="cbi-modbus-alarm-message">
		<label class="cbi-value-title" for="cbi-modbus-alarm-message">
			<span onmouseout="HideHint(this)" onmouseover="ShowHint(this, '<%=translate('Message to send. Characters allowed: (a-zA-Z0-9!@#$%&*+-/=?^_`{|}~.)')%>')"</span><%=translate("Message")%>
		</label>
		<div class="cbi-value-field">
			<textarea class="cbi-input-textarea" style="width: 180px; height: 90px;" onchange="cbi_d_update(this.id)" <%=attr("name", cbid)%> rows="4" <%=attr("id", cbid)%> maxlength="480" ><%=msg_text%></textarea>
		</div>
		<div id="counter" style="margin-left: 315px;" class="cbi-input-textarea-count" >
		</div>
	</div>
<%+cbi/valuefooter%>
