<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "network", "multiwan", "status")%>', null,
		function(x, st)
		{
			var tx = document.getElementById('multiwan_status_text');
			if (tx)
			{
				if (st && st.wans)
				{
					var temp = '';
					var activeConnection = false;

					
					for( var i = 0; i < st.wans.length; i++ )
					{
						var stat = '<%:Unknown%>';
						var cssc = '';

						switch (st.wans[i].status)
						{
							case 'ok':
								if (! activeConnection )
								{
								activeConnection = true;
								stat = 'IN USE';
								cssc = 'inuse';
								}
								else
								{
								stat = 'READY';
								cssc = 'wanok';
								}
								break;

							case 'ko':
								stat = 'NOT READY';
								cssc = 'wanko';
								break;

							case 'recovering':
								stat = 'NOT READY';
								cssc = 'wanko';
								break;

							case 'failing':
								stat = 'NOT READY';
								cssc = 'wanko';
								break;
						}
						net_name = st.wans[i].name;
						if (net_name == "wan")        net_name = "WAN"; 
						else net_name = "WAN Failover";

						name = st.wans[i].ifname;
							if (name == "eth1") name = "Wired"; 
							else if (name == "wlan0") name = "Wifi";
							else if (name == "wwan-usb0") name = "USB modem";
							else name = "Mobile";
						temp += String.format(
							'<span class="%s"><strong>%s: [%s]</strong> %s</span>',
								cssc, net_name, name, stat
						);
					}
					tx.innerHTML = temp;
				}
				else
				{
					tx.innerHTML = '<span class="wanko"><%=translate("WAN failover link is disabled")%></span>';
				}
			}
		}
	);
//]]></script>

<style type="text/css">
  .wanok { background-color: #E8F28D; }
  .wanko { background-color: #FCA57F; }
  .wanrecov { background-color: #D0E1EF; }
  .inuse { background-color: #ABEBAB; }
  .wanfail { background-color: #DDDDDD; }
  .wanko, .wanok, .wanrecov, .inuse, .wanfail {
	padding: 0.4em;
	margin: 0.4em;
  }
</style>

<fieldset class="cbi-section">
	<legend><%=translate("WAN Failover Status")%></legend>
	<div id="multiwan_status_text" style="text-align:center; padding-top:15px;"><em><%=translate("Collecting data...")%></em></div>
</fieldset>
